/*this is the css. honestly don't think this is very good*/
body{

  background: #c3f0c3;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  top: 0%;
  position: fixed;
  left: 0%;
  height:8%;
  z-index: 100;
}

li.nav{
  font-family: arial;
  color: white;
  float:right;
  padding-top: 1.5%;
  padding-right: 5%;
  right:5%;
}


#image{
  height: 50px;
  width: 80px;
}

#logo{
float:left;
padding-top: 0.5%;
}

a:link {
  color: white;
  text-decoration: none;
}

input{
  border-radius: 50px;
}

#tabs{
  
  list-style-type: none;
  height: 1000px;
}

#Profile_Info{
  margin: 0;
  padding-top: 6%;
  padding-left: 0;
  list-style-type: none;
  width:100%;
  height:100px;
}

li.prof{
  display: block;
  font-family: arial;
  color: white;
  float: left;
  
  }

#imageprof{
  position: absolute;
  top: 15%;
  left: 5%;
  height:22%;
  width: 15%;
  z-index: -100;
  border-radius: 50%;
}
 
#text{
  position: absolute;
  color: blue;
  width:60%;
  height: 30%;
  left: 30%;
  top: 15%;
  z-index: -100;
  word-wrap: break-word;
  overflow: hidden;
}

.tabs-container {
  background: #2e6d62;
}

.btn-container {

  margin-top: 500px;
  background: #c3f0c3;
}

.btn-container button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #132e2a;
  padding: 1rem 3rem;
  color: white;
  font-size: 2rem;
  line-height: 1.1;
  border: none;
}
.tab {
  transition: opacity 200ms;

  background: #2e6d62 !important;
}

.btn-container button.active {
  background: #2e6d62;
}

.post {
  background: #132e2a;
  height: 150px;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.post p {
  background: #c3f0c3;
  width: 100%;
  padding: 0.5rem 1rem;
  height: 2rem;
}

.hidden {
  opacity: 0;
  display: none;
}

.show {
  opacity: 1;
  display: block;
}
