@import "variables.less";
@import "mixins.less";

/* -- HTML Tags -- */

body {
  font-family: @font-sans;
  .no-spacing();
  .typography(@fs-body; @lh-body);
  background: @colour-bg;
  width: 100%;
  z-index: 1;
}

p {
  color: @colour-text;
  .typography(@fs-body; @lh-body);
}

h1 {
  color: @colour-text;
  .header();
  .typography(@fs-h1; @lh-h1);
}

h2 {
  color: @colour-text;
  .header();
  .typography(@fs-h2; @lh-h2);
}

hr {
  color: @colour-fg;
  background: @colour-fg;
  border-top: 5px solid @colour-fg;
}

a {
  color: @colour-text;
}

@import "nav.less";
@import "header.less";
@import "footer.less";

.content {
  margin-top: 3rem;
  padding: 1rem 0 0;
  border-top: 2px solid @colour-fg;
}

/* -- Utility -- */

.hide {
  opacity: 0;
  display: none;
}

.show {
  opacity: 1;
  display: block;
}


.title-slideshow{
/*  max-width: 100%;
  position: absolute;
  margin: auto;*/
  img {
    width: 100%;
  }
}

.slide{
  display: none;

}

.logo{
  color: aqua;
  font-size: larger;
  text-shadow: aquamarine;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
}

#map {
  height: 400px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .50}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .20}
  to {opacity: 1}
}




@import "media.less";
