/* Default font-size */
/* Default line-height */
/* index.html styles */
section {
  margin: 2rem 0;
  border-radius: 1rem;
}
.section-header h1 {
  color: #4161ff;
}
.section-header * {
  margin: 1rem 1rem 0;
}
/* About Us section */
.about-us {
  color: #f0ffff;
  background-color: #c9ffff;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1rem;
}
/* Our Process section */
.process {
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #008888;
  border-radius: 1rem;
  transition: margin 0.2s;
}
.process .bi {
  font-size: 5rem;
  margin: 2rem 0;
  color: #f0ffff;
  display: block;
  transition: font-size 0.2s;
}
.process h2 {
  margin: 0 0 2rem;
  transition: font-size 0.2s;
  color: #ffffff;
}
.process:hover {
  margin: 2rem 0.5rem 1rem;
}
.process:hover .bi {
  font-size: 5.5rem;
}
.process:hover h2 {
  font-size: 2.5rem;
}
#process {
  border: 2px solid #008888;
  border-radius: 1rem;
}
#process .process-first {
  background-color: #005555;
}
#process .process-last {
  background-color: #00bbbb;
}






/* Our Projects section */
/*this is our container for our hover overlay for exposure*/
.project {
  position: relative;
  width: 100%;
 
}

/*logo image*/
.exp-image {
  display: flex;
  width: 100%;
  height: auto;
}

/*Just the name exposure benetah the logo*/
.project-name {
  font-size: 3rem;
  color: #105d8a;
  text-align: center;
  font-weight: bold;
}

/*overlay box that appears when hovering over the exposure logo*/
.project-desc {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% auto;
  width: 100% auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #21158f;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 1rem;
}

/*how thin the overlay is over the exposure logo*/
.project:hover .project-desc{
  opacity: 0.9;
}

/**/
 .text{
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*text-align: center;*/
}





/* Location section */
.location-header {
  color: #f0ffff;
  background: #c9ffff;
  margin: 2rem 0 0;
  padding: 1rem;
  border-radius: 1rem;
}
.map-container {
  margin: 2rem 1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  background: #c9ffff;
}
/* Our Services section */
#services {
  border: 2px solid #75cdde;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.service {
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #549ead;
  border-radius: 1rem;
  transition: margin 0.2s;
}
.service h2 {
  margin: 1rem;
  transition: font-size 0.2s;
  line-height: 1;
  color: white;
}
.service:hover {
  margin: 2rem 0.5rem 1.5rem;
}
.service:hover h2 {
  font-size: 2.5rem;
}
